---
import ElevatedBox from "../components/ElevatedBox.astro"
import InnerLayout from "../layouts/InnerLayout.astro"
---

<InnerLayout title="wip">
  <div class="flex w-full min-h-screen flex-col items-center justify-center gap-8 py-12">
    <h1>kutelabs. a kute way to learn kotlin :)</h1>
    <a href="/learn" data-astro-prefetch>
      <ElevatedBox elevation={2} hoverable class="bg-beige-50">
        <p class="p-4">Go to available lessons</p>
      </ElevatedBox>
    </a>
  </div>
</InnerLayout>