---
import { EditorMixed } from "@kutelabs/editor-mixed"
import { getCollection } from 'astro:content';

const challenges = await getCollection('challenges');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div
      class="flex w-full min-h-screen flex-col items-center justify-center gap-8 py-12">
      <h1>kutelabs. a kute way to learn kotlin :)</h1>
      <EditorMixed client:load data={challenges[0].data.editor} />
      <button id="btn-tojs" tabindex="0">to js</button>
      <button id="btn-execjs" tabindex="0">exec js</button>
      <button id="btn-tokt" tabindex="0">to kt</button>
    </div>
  </body>
</html>

<script>
  import { JsCompiler } from "@kutelabs/editor-mixed/src/compile/JsCompiler"
  import { KtCompiler } from "@kutelabs/editor-mixed/src/compile/KtCompiler"

  import { DebugBlockRenderer } from "@kutelabs/editor-mixed/src/render/BlockRenderers/DebugBlockRenderer"
  import { DebugDragRenderer } from "@kutelabs/editor-mixed/src/render/DragRenderers/DebugDragRenderer"
  import { DebugDrawerRenderer } from "@kutelabs/editor-mixed/src/render/DrawerRenderers/DebugDrawerRenderer"
  import { ExtrasRenderer } from "@kutelabs/editor-mixed/src/render/ExtrasRenderers.ts/DefaultExtrasRenderer"
  import { DebugLayouter } from "@kutelabs/editor-mixed/src/render/Layouters/DebugLayouter"
  import { type MixedEditorConfig } from "@kutelabs/editor-mixed/src/util/MixedEditorConfig"

  export const config: MixedEditorConfig = {
    layouter: DebugLayouter,
    blockRenderer: DebugBlockRenderer,
    drawerRenderer: DebugDrawerRenderer,
    dragRenderer: DebugDragRenderer,
    extrasRenderer: ExtrasRenderer,
  }

  //@ts-ignore
  document.querySelector("editor-mixed").config = config

  //@ts-ignore
  document.querySelector("#btn-tojs").addEventListener(
    "click",
    (() => {
      //@ts-ignore
      console.log(document.querySelector("editor-mixed").compile(JsCompiler))
    }).bind(this)
  )
  //@ts-ignore
  document.querySelector("#btn-execjs").addEventListener(
    "click",
    (() => {
      //@ts-ignore
      console.log("exec js not yet imeplemented")
    }).bind(this)
  )
    //@ts-ignore
    document.querySelector("#btn-tokt").addEventListener(
    "click",
    (() => {
      //@ts-ignore
      console.log(document.querySelector("editor-mixed").compile(KtCompiler))
    }).bind(this)
  )
</script>

<script is:inline src="https://cdn.jsdelivr.net/npm/@marp-team/marpit-svg-polyfill/lib/polyfill.browser.js"></script>

