---
import { getEntry } from "astro:content"
import type { Challenge } from "../../schema/challenge"
import InnerLayout from "../../layouts/InnerLayout.astro"
import ElevatedBox from "../../components/ElevatedBox.astro"
import EditorMixed from "../../components/EditorMixedWrapper.astro"

const { id } = Astro.params
if (id === undefined) {
  return Astro.redirect("/404")
}

const item = await getEntry("challenges", id)
if (item === undefined) {
  return Astro.redirect("/404")
}
const challenge = item.data as Challenge
---

<InnerLayout title={`${challenge.story.title}`}>
  <div class="flex w-full min-h-screen flex-col items-center justify-center gap-8 py-12">
    <h1>{challenge.story.title}</h1>
    <ElevatedBox elevation={2} class="w-[64rem] h-[48rem]">
      <EditorMixed data={challenge.editor} />
    </ElevatedBox>
  </div>
</InnerLayout>
