---
import { getCollection } from "astro:content"
import type { Challenge } from "../../schema/challenge"
import InnerLayout from "../../layouts/InnerLayout.astro"
import ElevatedBox from "../../components/ElevatedBox.astro"
import EditorMixed from "../../components/EditorMixedWrapper.astro"

export async function getStaticPaths() {
  return (await getCollection("challenges"))
    .filter(it => !it.id.endsWith("section"))
    .map(it => ({
      params: { id: it.id },
      props: { challenge: it.data },
    }))
}

const challenge = Astro.props.challenge as Challenge
---

<InnerLayout
  title={`${challenge.story.title}`}
  navigateBackText="Back to Lessons"
  navigateBackDefaultUrl="/learn">
  <div class="flex w-full flex-col justify-center">
    <div class="flex flex-col lg:flex-row px-12 pb-12 lg:h-[90vh] gap-8">
      <div
        class="border-4 border-beige-200 bg-beige-50 px-4 py-6 w-full lg:w-[40%] min-w-72 flex-grow-[1] flex flex-col gap-4">
        <h2 class="font-poppins text-xl">{challenge.story.title}</h2>
        <p class="font-medium" set:html={challenge.story.dialog?.static} />
        <hr />
        <a href="#" id="btn-tojs">Print JS</a>
        <a href="#" id="btn-tokt">Print KT</a>
        <hr />
        <a href="#" id="btn-execjs">Execute JS</a>
      </div>

      <ElevatedBox elevation={2} class="w-full flex-grow-[2] max-lg:h-[80vh]">
        <EditorMixed data={challenge.editor} />
      </ElevatedBox>
    </div>
  </div>
</InnerLayout>

<script>
  import { JsCompiler } from "@kutelabs/editor-mixed/src/compile/JsCompiler"
  import { KtCompiler } from "@kutelabs/editor-mixed/src/compile/KtCompiler"
  import { SandboxCallbacks, SandboxRunner } from "@kutelabs/client-runner"
  import type { EditorMixed } from "@kutelabs/editor-mixed/src/editor"

  document.querySelector("#btn-tojs")!.addEventListener(
    "click",
    (() => {
      console.log((document.querySelector("editor-mixed") as EditorMixed).compile(JsCompiler))
    }).bind(this)
  )

  document.querySelector("#btn-execjs")!.addEventListener(
    "click",
    (() => {
      const compiled = (document.querySelector("editor-mixed") as EditorMixed).compile(JsCompiler)
      const sandboxRunner = new SandboxRunner()
      sandboxRunner.execute(compiled.code, compiled.argNames, compiled.entrypoint, {
        callbacks: new SandboxCallbacks(),
      })
    }).bind(this)
  )

  document.querySelector("#btn-tokt")!.addEventListener(
    "click",
    (() => {
      console.log((document.querySelector("editor-mixed") as EditorMixed).compile(KtCompiler))
    }).bind(this)
  )
</script>
