---
import ElevatedBox from "../../components/ElevatedBox.astro";
import OuterLayout from "../../layouts/OuterLayout.astro";
---

<OuterLayout title="learn">

  <ElevatedBox elevation={2} hoverable class="w-full">
    <div class="flex flex-col items-center justify-center gap-8 py-12">
      <h1>kutelabs. a kute way to learn kotlin :)</h1>
    </div>
  </ElevatedBox>

</OuterLayout>