---
import Logo from "../svg/logo.svg"
import OuterLayout from "./OuterLayout.astro"

interface Props {
  title: string
  navigateBackText?: string
  navigateBackDefaultUrl?: string
}
const { title, navigateBackText, navigateBackDefaultUrl } = Astro.props
---

<OuterLayout title={title}>
  <header class="flex items-center">
    <nav>
      <div
        class=`flex flex-row-reverse lg:flex-row ${navigateBackText ? "justify-between": "justify-center"} lg:justify-start items-center px-4 lg:px-8 py-8 w-full max-w-7xl lg:gap-4 h-24`>
        <div>
          <Logo class="h-8 w- inline" />
        </div>
        {
          navigateBackText && (
            <button
              class="relative animate-bg-up border-2 border-transparent hover:border-black box-border px-2 lg:px-4 py-2 transition-colors"
              id="backButton"
              aria-label="Navigate back">
              ← {navigateBackText}
            </button>
          )
        }
      </div>
    </nav>
  </header>
  <main>
    <slot />
  </main>
</OuterLayout>

<script is:inline define:vars={{ navigateBackDefaultUrl }}>
  document.getElementById("backButton")?.addEventListener("click", function () {
    try {
      const referrer = new URL(document.referrer)
      console.log(referrer)
      if (
        referrer &&
        referrer.hostname === window.location.hostname &&
        referrer.pathname == "/learn"
      ) {
        window.history.back()
      } else {
        window.location.href = navigateBackDefaultUrl ?? "/learn"
      }
    } catch (e) {
      window.location.href = navigateBackDefaultUrl ?? "/learn"
    }
  })
</script>
