@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --elevation: 0.5rem;
  --text-outline-color: #131218;
}

html {
  background-image: url('/images/bg.png');
  background-color: #fcfbf7;
  background-size: 80px;
  background-repeat: repeat;
  color: #000000;
  font-weight: 600;
}

html :has(clerk-signed-out:not([hidden]) .dialog-container),
body :has(clerk-signed-out:not([hidden]) .dialog-container) {
  overflow: hidden;
}

/**
* Logs
*/

.kt-logs>* {
  font-weight: normal;
  padding: 0.5rem;
  border-top: 1px solid theme("colors.beige.200");

  &:last-child {
    border-bottom: 1px solid theme("colors.beige.200");
  }
}

/**
* Tabs
*/

.tabs {
  >nav {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .tab-wrapper {
      flex-grow: 1;
      text-align: center;
      background-color: theme("colors.beige.100");
      border-width: 1px;
      user-select: none;
      transition: border 150ms ease-out, background-color 150ms ease-out;

      .tab {
        padding: 0.5rem;
      }

      &:hover {
        border: 1px solid black;
      }

      &:has(.tab-selector:checked) {
        background-color: unset;
        border: 1px solid black;
      }
    }
  }

  >div {
    height: calc(100% - 2.6rem);
    overflow-y: auto;
    >div {
      height: 100%;
    }
  }

}



@layer components {
  .elevated-card {
    position: relative;
    margin-bottom: var(--elevation);
    margin-right: var(--elevation);

    --animation: 100ms ease-out;
    transition: margin var(--animation);

    &::before,
    &::after {
      content: "";
      position: absolute;
      transform-origin: 0 0;
      // z-index: -1;
    }

    &::before {
      width: 100%;
      height: var(--elevation);
      transform: skewx(45deg);
      top: 100%;
      left: 0;
      background: #000000;
      transition: height var(--animation);
    }

    &::after {
      width: var(--elevation);
      height: 100%;
      transform: skewy(45deg);
      top: 0;
      left: 100%;
      background: #000000;
      // z-index: -2;
      transition: width var(--animation);
    }

    &.hoverable {
      &:hover {
        margin-bottom: calc(var(--elevation) / 2);
        margin-right: calc(var(--elevation) / 2);
        margin-top: calc(var(--elevation) / 2);
        margin-left: calc(var(--elevation) / 2);

        &::before {
          height: calc(var(--elevation) / 2);
        }

        &::after {
          width: calc(var(--elevation) / 2);
        }
      }
    }
  }

  .group:hover>.elevated-card.hoverable {
    margin-bottom: calc(var(--elevation) / 2);
    margin-right: calc(var(--elevation) / 2);
    margin-top: calc(var(--elevation) / 2);
    margin-left: calc(var(--elevation) / 2);

    &::before {
      height: calc(var(--elevation) / 2);
    }

    &::after {
      width: calc(var(--elevation) / 2);
    }
  }
}

@layer utilities {
  .elevated-0 {
    --elevation: 0rem;
  }

  .elevated-1 {
    --elevation: 0.25rem;
  }

  .elevated-2 {
    --elevation: 0.5rem;
  }

  .elevated-3 {
    --elevation: 0.75rem;
  }

  .elevated-4 {
    --elevation: 1rem;
  }

  @supports (-webkit-text-stroke: 1px white) {
    .text-outlined {
      -webkit-text-stroke: 1.5px var(--text-outline-color);
    }
  }

  .text-sideways {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  .animate-bg-up {
    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      z-index: -1;
      background: rgba(0, 0, 0, 0.12);
      transition: all 150ms ease-out;
    }

    &:hover::before,
    &:focus::before {
      height: 100%;
    }
  }
}